@tailwind base;
@tailwind components;
@tailwind utilities;

.pp{
  background: #232526;
  background: -webkit-linear-gradient(to right, rgba(35, 37, 38, .8), rgba(65, 67, 69, .8));
  background: linear-gradient(to right, rgba(35, 37, 38, .8), rgba(65, 67, 69, .8));
}
.pp-controls{
  background: #303942;
  background: -webkit-linear-gradient(to right, rgba(43, 51, 59, 0.95), rgba(41, 50, 60, .95));
  background: linear-gradient(to right, rgba(43, 51, 59, 0.95), rgba(41, 50, 60, .95));
}
.pp-icons{
  fill: white !important;
}
.pp-icons:focus{
  fill: grey !important;
}
.pp-icons-green{
  fill: limegreen;
}
::selection{
  background: none;
}
.timer{
  margin: auto;
  padding: 10px;
}
.tw-p-t-2{
  padding-top: 7px;
}

/*progress bar*/
 .xns-seeker-progress-wrapper{
   display: flex;
   flex: 1;
   width: inherit;
   position: relative;
   overflow: hidden;
 }
.xns-seeker-progress-bar{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: inherit;
}